.divider {
    border-bottom: 1px solid grey;

    .container {
        border-bottom: 5px solid $primary;
        margin-bottom: -3px;
        max-width: 320px;
    }
}
.shadow {
    box-shadow: 0 1rem 2rem rgba(0,0,0,.175);
}
.text-uppercase {
    text-transform: uppercase;
}
.fill-brand-footer {
    width: 20px;
    height: 20px;
    fill: white;
    margin: 0 5px;
    &:hover {
        fill: $primary;
    }
}
.fullwidth {
    min-width: 100% !important;
}

@media(max-width: 767px) {
  .reverse-columns {
    display: flex;
    flex-direction: column-reverse;
  }
}
.button:focus,
.button:hover {
    transition: all .3s;
    filter: brightness(120%);
}
/*
footer {
    content-visibility: auto;
    contain-intrinsic-size: 100px 1025px;
}
.businessquote {
    content-visibility: auto;
    contain-intrinsic-size: 100px 375px;
}
.3box {
    content-visibility: auto;
    contain-intrinsic-size: 100px 575px;
}
.section3 {
    content-visibility: auto;
    contain-intrinsic-size: 100px 1075px;
}
@media(min-width: 768px) {
    footer {
        content-visibility: auto;
        contain-intrinsic-size: 100px 575px;
    }
    .businessquote {
        content-visibility: auto;
        contain-intrinsic-size: 100px 475px;
    }
} 

*/