{{ define "main" }}

<!-- Hero -->

{{- partial "pages/home/header/heroleft.html" . }}
<!-- {{- partial "pages/home/header/herocenter.html" . }} -->

<!-- Section 2 Top -->

{{- partial "pages/home/section2/section2toptxt.html" . }}

<!-- {{- partial "pages/home/section2/section2topimg.html" . }} -->

<!-- Section 2 Box Widgets -->
{{- partial "pages/home/section2/3box.html" . }}
<!-- {{- partial "pages/home/section2/3box.html" . }} -->

<!-- Section 3 More Content -->
{{- partial "pages/home/section3/section3.html" . }}

{{- partial "elements/businessquote.html" . }}
{{ end }}